* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#about {
  background-color: azure;
}

#contact {
  background-color: beige;
}

#home {
  background-color: aliceblue;
}

#faq {
  background-color: antiquewhite;
}
